.main{
    min-height: 93vh;
    display: flex;
    align-items: center;
    background-position: center;
    background-size: cover;
}
.title{
    font-size: 95px;
}
.subtitle{
    font-size: 25px;
    padding-top: 10px;
}
.intro-text{
    width:100%;
    text-align: center;
}
.btn-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.landingButton{
    width: 200px;
    height: 55px;
}

